
MPI_results/
MPI_results - Copy/
__pycache__
Demand Polygons/
_build
*.cpg
*.dbf
*.prj
*.sbx
*.shp
*.sbn
*.shx
*.pptx
*.pyc
*.xls
*.res
!example_list.xlsx
!Net3_tank_damage.xlsx
!Net3-node-damage.xlsx
!Net3-pipe-damage.xlsx
!Net3-PumpDamage.xlsx
!test_*.xlsx
!test_*.res
!test_*.pkl
*.inp
*.bin
*.rpt
!Net3.inp
*.docx
*.net
*.bak
*.mat
*.csv
*.pkl
/rewet.egg-info

